* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #1b1b1b;
}

.sidebar {
  height: 100dvh;
  background-color: #313131;
  width: 400px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.notecard {
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 5px;
  margin-inline: 10px;
  cursor: pointer;
  position: relative;
}

.anim:first-of-type {
  animation: fly-in forwards 0.5s alternate;
  animation-iteration-count: 1;
}

.notecard h3 {
  color: white;
  font-size: 19px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.notecard p {
  color: #a6a6a6;
  font-size: 14px;
  width: 100%;
  max-height: 100px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.note {
  width: 100%;
  margin: 20px;
  color: #fff;
}

.note .title {
  font-size: 30px;
  background-color: transparent;
  border: 0;
  color: #fff;
  width: 100%;
}

.note input:active {
  outline: none;
}

.note input:focus {
  outline: none;
}

.note hr {
  width: 90%;
  opacity: 0.3;
  margin-top: 20px;
}

.note textarea {
  background-color: transparent;
  border: 0;
  color: #a6a6a6;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  height: 70%;
  resize: none;
}

.note textarea:active {
  outline: none;
}

.note textarea:focus {
  outline: none;
}

.sidebar hr {
  width: 90%;
  align-self: center;
  opacity: 0.4;
}

.sidebar .title {
  color: #fff;
  font-size: 30px;
}

.sidebar .top {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-inline: 10px;
}

.add {
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: solid #3471ff71 1.5px;
  background-color: #3471ff54;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 22px;
  color: #fff;
}

.download {
  fill: #747474;
  background-color: transparent;
  border: 0;
  padding: 5px 7px 5px 7px;
  border-radius: 50%;
  transition: background-color .1s ease-in-out;
  cursor: pointer;
  position: relative;
}

.download:hover {
    background-color: #313131;
}

.download::before {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.download:hover::before {
  content: 'Download';
  background-color: rgba(0, 0, 0, 0.267);
  color: #fff;
  position: absolute;
  padding: 3px;
  right: -15px;
  bottom: -17px;
  text-align: center;
  width: max-content;
  opacity: 1;
}

.sidebar .top {
  display: block;
}

.top section {
  display: flex;
  justify-content: space-between;
}

.sidebar .top .add:hover {
  background-color: #3471ff96;
  transition: all 0.2s;
}

.search {
  margin-top: 10px;
}

.search input {
  background-color: #222222;
  color: #fff;
  border: 0;
  border-radius: 4px;
  width: 100%;
  padding: 7px;
  padding-left: 10px;
}

.search .search-btn {
  background-color: #3471ff;
  border: none;
  color: #fff;
  border-radius: 6px;
  fill: #fff;
  padding: 3px;
  padding-inline: 6px;
  cursor: pointer;
}

.delete {
  margin-right: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: solid #ff343471 1.5px;
  background-color: #ff343454;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
}

.delete:hover {
  border: solid #ff3434a1 1.5px;
  background-color: #ff343481;
}

.notecardcontent {
  width: 100%;
}

.category {
  font-weight: bold;
  color: #898989;
  background-color: transparent;
  border: 0;
  width: min-content;
}

.date {
  font-size: 10px;
  color: #3471ff;
}

.add-category {
  margin-right: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: solid #3471ff71 1.5px;
  background-color: #3471ff54;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 22px;
  color: #fff;
}
.list {
  display: none;
}

.category {
  background-color: #2e61d865;
  padding-inline: 15px;
  color: white;
  font-weight: unset;
  border-radius: 15px;
  padding-block: 3px;
  border: #2e61d8 solid 2px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  gap: 2px;
  position: relative;
  padding-bottom: 2px;
}

.category.active {
  background-color: #2e61d8;
}

.category:hover {
  background-color: #2e61d8;
  transition: background-color 0.3s ease;
}

.categories {
  display: flex;
  margin-left: 10px;
  gap: 5px;
  flex-wrap: wrap;
  transition: all 0.3s;
}

@keyframes fly-in {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .sidebar.collapsed {
    width: 100%;
  }
  .note.collapsed {
    display: none;
  }

  .note.expanded {
    height: 100dvh;
    width: 100%;
  }

  .sidebar.expanded {
    display: none;
  }

  .note.expanded .list {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background-color: #3471ff;
    padding: 10px;
    border-radius: 40px;
    fill: #fff;
    display: block;
    cursor: pointer;
    transition: all 0.4s;
  }

  .note.expanded .list:hover {
    background-color: #2e61d8;
    transition: all 0.4s;
    border-radius: 10px;
  }
}
